altair
pandas
google-generativeai
pandas==2.1.4
streamlit==1.29.0
requests
colorama
httpx[http2]>=0.20.0
langdetect
deep_translator
google-cloud-translate
browser_cookie3
bardapi
aiohttp
BingImageCreator
certifi
prompt_toolkit
rich
